body{
  background-color: blue;
  align-content: center;
}
.mophat{
  color: black;
  a
}
align-content: center;
img{
  width: 100;
  height: 70;
  align: center;
}
h1h2h3{
  float: center;
  color: blue
}
